{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	
<div>	
	<form method="post" class="form-signin">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
		 <div class="checkbox mb-3">
			{# <label>
				<input type="checkbox" name="_remember_me"> Remember me
			</label>  #}
		</div>
		<button class="btn btn-lg btn-primary" type="submit"> Sign in </button>
	</form>
	<div> &nbsp; </div>
	<div>
		<h6 class="bd-title">
			<span>Sample Users to login</span>
		</h6>
		<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Username </th>
					<th>Email </th>
					<th>Password</th>
					<th>Role</th>               
				</tr>
			</thead>
			 <tbody>
			 {% for users in usersList %}
			 <tr>
					<td>{{users.userName}}</td>
					<td>{{users.userEmail}}</td>
					<td>{{users.userPassword}}</td>
					<td>{{users.role}}</td>              
			</tr>
			 {% endfor %} 			
			</tbody>
		</table>
	<div>
</div>
{% endblock %}
