{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}

<div class="">	
	<a class="btn btn-lg btn-primary" href="{{ path('book_create') }}" role="button">Add your memories here »</a>
	<h3>Guestbook Gallery</h3>
</div> 

<div class="my-3 p-3 bg-white rounded box-shadow">
	{% if bookList is not empty %} 
		<h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
		{% for guestBook in bookList %}    
			<div class="media text-muted pt-3">		
				<img src="{{ asset('assets/images/avatar-icon.svg') }}" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" >
				<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				{{ guestBook['name'] }}
				<strong class="d-block text-gray-dark">{{ guestBook[0].title }} </strong>		
				{{ guestBook[0].comments }}
				</p>
			</div>
		{% endfor %} 
	{% else %}
		<h6 class="border-bottom border-gray pb-2 mb-0">No updates</h6>
	{% endif %}
	

      
</div>
{% endblock %}
